In [1]:
import pandas as pd

In [27]:
!ls data

164 172 248

In [33]:
sec=248
!mv data/248/CH3.248.csv data/248/248.csv
!ls -lh  data/$sec/*.csv

-rwxr--r--@ 1 yoavfreund  staff   940B Aug 15 14:41 data/248/248.csv

In [37]:
filename='data/%d/%d.csv'%(sec,sec)
df=pd.read_csv('data/%d/%d.csv'%(sec,sec))
df.head()

   Unnamed: 0             x             y  Section
0           0  32694.339844  16725.058594      248
1           1  32703.347656  16788.117188      248
2           2  39289.722656  21040.681641      248
3           3  40537.371094  22067.628906      248
4           4  40947.250000  22986.476562      248

In [35]:
df=df.drop(columns=['Layer'])
df.columns=['x','y','Section']
df.head()

              x             y  Section
0  32694.339844  16725.058594      248
1  32703.347656  16788.117188      248
2  39289.722656  21040.681641      248
3  40537.371094  22067.628906      248
4  40947.250000  22986.476562      248

In [36]:
df.to_csv(filename)